<html>

<head>
  <%- include partials/head.ejs %>
</head><!-- /head -->

<body>

  <header>
    <%- include partials/header.ejs %>
  </header><!-- /header -->

  <div class="bgdrinks">

    <div class="texttitle"><strong>WHAT IS <span class="bold orange">DONE DEAL?</span></strong></div>

    <div class="container">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><strong>ARE YOU A CUSTOMER?</strong></h1>
            <p class="card-text"> IMAGINE YOU WANT TO GO OUT WITH YOUR FRIENDS, BUT CANNOT DECIDE WHERE YOU WANT TO GO<br><br>
        WANT TO HAVE A GOOD TIME BUT DON'T WANT TO SPEND A LOT OF MONEY?<br><br>
    SO HOW DO YOU DECIDE? WITH <span class="bold orange">DONE DEAL</span><br><br>
          </div>
              <div class="card-footer"> <a href="/drinks"><button class="btn btn-hero btn-lg" role="button">Drink Deals</button></a><br>
                <!-- <small class="text-muted"></small> -->
              </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><strong>WHO ARE WE?</strong></h1><br><br>
              <p class="card-text">THERE ARE 1150 RESTAURANTS IN AMSTERDAM<br><br>THERE ARE 1515 BARS AND CAFES IN AMSTERDAM<br><br>
          THIS CAN MAKE IT ALMOST IMPOSSIBLE TO REACH A DECISION<br><br>WE ARE HERE TO HELP YOU<br><br>
          WE ARE <span class="bold orange">DONE DEAL</span><br><br>
        </p>
            </div>
            <div class="card-footer">
              <!-- <small class="text-muted"></small> -->
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><strong>ARE YOU A BUSINESS?</strong></h1>
              <p class="card-text">WANT TO MAKE YOUR BUSINESS MORE VISIBLE?<br><br>
          DO YOU HAVE SPECIAL DEALS AND OFFERS TO ADVERTISE?<br><br>
          DO YOU WANT A NEW WAY TO CONNECT WITH PEOPLE IN AMSTERDAM?<br><br>
                <span class="bold orange">DONE DEAL</span> CAN HELP YOU BRING IN MORE CUSTOMERS<br><br>
          </div>
                <div class="card-footer"> <a href="/signup"><button class="btn btn-hero btn-lg" role="button">Sign Up</button></a><br>
                  <!-- <small class="text-muted"></small> -->
                </div>
            </div>
          </div>
        </div>

      </div>

      <footer>
        <%- include partials/footer.ejs %>
      </footer>
</body>

</html>
