<html>
<head></head>

<body>

</div>
    <div class="form-d">
      <label class="form-label" for="date">
        <span class="mask">Datum</span>
        <span class="form-select">
          <select name="date" id="date" lang="nl">
            <option value="noDate">Datum</option>
                                          <option value="2018-10-15">
                    15 okt.
                </option>
                                          <option value="2018-10-16">
                    16 okt.
                </option>
                                          <option value="2018-10-17">
                    17 okt.
                </option>
                                          <option value="2018-10-18">
                    18 okt.
                </option>
                                          <option value="2018-10-19">
                    19 okt.
                </option>
                                          <option value="2018-10-20">
                    20 okt.
                </option>
                                          <option value="2018-10-21">
                    21 okt.
                </option>
                                          <option value="2018-10-22">
                    22 okt.
                </option>
                                          <option value="2018-10-23">
                    23 okt.
                </option>
                                          <option value="2018-10-24">
                    24 okt.
                </option>
                                          <option value="2018-10-25">
                    25 okt.
                </option>
                                          <option value="2018-10-26">
                    26 okt.
                </option>
                                          <option value="2018-10-27">
                    27 okt.
                </option>
                                          <option value="2018-10-28">
                    28 okt.
                </option>
                                          <option value="2018-10-29">
                    29 okt.
                </option>
                                          <option value="2018-10-30">
                    30 okt.
                </option>
                                          <option value="2018-10-31">
                    31 okt.
                </option>
                                          <option value="2018-11-01">
                    1 nov.
                </option>
                                          <option value="2018-11-02">
                    2 nov.
                </option>
                                          <option value="2018-11-03">
                    3 nov.
                </option>
                                          <option value="2018-11-04">
                    4 nov.
                </option>
                                          <option value="2018-11-05">
                    5 nov.
                </option>
                                          <option value="2018-11-06">
                    6 nov.
                </option>
                                          <option value="2018-11-07">
                    7 nov.
                </option>
                                          <option value="2018-11-08">
                    8 nov.
                </option>
                                          <option value="2018-11-09">
                    9 nov.
                </option>
                                          <option value="2018-11-10">
                    10 nov.
                </option>
                                          <option value="2018-11-11">
                    11 nov.
                </option>
                                          <option value="2018-11-12">
                    12 nov.
                </option>
                                          <option value="2018-11-13">
                    13 nov.
                </option>
                                          <option value="2018-11-14">
                    14 nov.
                </option>
                                          <option value="2018-11-15">
                    15 nov.
                </option>
                                          <option value="2018-11-16">
                    16 nov.
                </option>
                                          <option value="2018-11-17">
                    17 nov.
                </option>
                                          <option value="2018-11-18">
                    18 nov.
                </option>
                                          <option value="2018-11-19">
                    19 nov.
                </option>
                                          <option value="2018-11-20">
                    20 nov.
                </option>
                                          <option value="2018-11-21">
                    21 nov.
                </option>
                                          <option value="2018-11-22">
                    22 nov.
                </option>
                                          <option value="2018-11-23">
                    23 nov.
                </option>
                                          <option value="2018-11-24">
                    24 nov.
                </option>
                                          <option value="2018-11-25">
                    25 nov.
                </option>
                                          <option value="2018-11-26">
                    26 nov.
                </option>
                                          <option value="2018-11-27">
                    27 nov.
                </option>
                                          <option value="2018-11-28">
                    28 nov.
                </option>
                                          <option value="2018-11-29">
                    29 nov.
                </option>
                                          <option value="2018-11-30">
                    30 nov.
                </option>
                                          <option value="2018-12-01">
                    1 dec.
                </option>
                                          <option value="2018-12-02">
                    2 dec.
                </option>
                                          <option value="2018-12-03">
                    3 dec.
                </option>
                                          <option value="2018-12-04">
                    4 dec.
                </option>
                                          <option value="2018-12-05">
                    5 dec.
                </option>
                                          <option value="2018-12-06">
                    6 dec.
                </option>
                                          <option value="2018-12-07">
                    7 dec.
                </option>
                                          <option value="2018-12-08">
                    8 dec.
                </option>
                                          <option value="2018-12-09">
                    9 dec.
                </option>
                                          <option value="2018-12-10">
                    10 dec.
                </option>
                                          <option value="2018-12-11">
                    11 dec.
                </option>
                                          <option value="2018-12-12">
                    12 dec.
                </option>
                                          <option value="2018-12-13">
                    13 dec.
                </option>
                                          <option value="2018-12-14">
                    14 dec.
                </option>
                                          <option value="2018-12-15">
                    15 dec.
                </option>
                                          <option value="2018-12-16">
                    16 dec.
                </option>
                                          <option value="2018-12-17">
                    17 dec.
                </option>
                                          <option value="2018-12-18">
                    18 dec.
                </option>
                                          <option value="2018-12-19">
                    19 dec.
                </option>
                                          <option value="2018-12-20">
                    20 dec.
                </option>
                                          <option value="2018-12-21">
                    21 dec.
                </option>
                                          <option value="2018-12-22">
                    22 dec.
                </option>
                                          <option value="2018-12-23">
                    23 dec.
                </option>
                                          <option value="2018-12-24">
                    24 dec.
                </option>
                                          <option value="2018-12-25">
                    25 dec.
                </option>
                                          <option value="2018-12-26">
                    26 dec.
                </option>
                                          <option value="2018-12-27">
                    27 dec.
                </option>
                                          <option value="2018-12-28">
                    28 dec.
                </option>
                                          <option value="2018-12-29">
                    29 dec.
                </option>
                                          <option value="2018-12-30">
                    30 dec.
                </option>
                                          <option value="2018-12-31">
                    31 dec.
                </option>
                                          <option value="2019-01-01">
                    1 jan.
                </option>
                                          <option value="2019-01-02">
                    2 jan.
                </option>
                                          <option value="2019-01-03">
                    3 jan.
                </option>
                                          <option value="2019-01-04">
                    4 jan.
                </option>
                                          <option value="2019-01-05">
                    5 jan.
                </option>
                                          <option value="2019-01-06">
                    6 jan.
                </option>
                                          <option value="2019-01-07">
                    7 jan.
                </option>
                                          <option value="2019-01-08">
                    8 jan.
                </option>
                                          <option value="2019-01-09">
                    9 jan.
                </option>
                                          <option value="2019-01-10">
                    10 jan.
                </option>
                                          <option value="2019-01-11">
                    11 jan.
                </option>
                                          <option value="2019-01-12">
                    12 jan.
                </option>
                                          <option value="2019-01-13">
                    13 jan.
                </option>
                      </select>
        </span>
      </label>
    </div>
    <div class="form-h">
      <label class="form-label" for="hour">
        <span class="form-select">
          <select name="time" id="hour">
            <option value="">Tijd</option>
                          <option value="00:00:00">0:00</option>
              <option value="00:30:00">0:30</option>
                          <option value="01:00:00">1:00</option>
              <option value="01:30:00">1:30</option>
                          <option value="02:00:00">2:00</option>
              <option value="02:30:00">2:30</option>
                          <option value="03:00:00">3:00</option>
              <option value="03:30:00">3:30</option>
                          <option value="04:00:00">4:00</option>
              <option value="04:30:00">4:30</option>
                          <option value="05:00:00">5:00</option>
              <option value="05:30:00">5:30</option>
                          <option value="06:00:00">6:00</option>
              <option value="06:30:00">6:30</option>
                          <option value="07:00:00">7:00</option>
              <option value="07:30:00">7:30</option>
                          <option value="08:00:00">8:00</option>
              <option value="08:30:00">8:30</option>
                          <option value="09:00:00">9:00</option>
              <option value="09:30:00">9:30</option>
                          <option value="10:00:00">10:00</option>
              <option value="10:30:00">10:30</option>
                          <option value="11:00:00">11:00</option>
              <option value="11:30:00">11:30</option>
                          <option value="12:00:00">12:00</option>
              <option value="12:30:00">12:30</option>
                          <option value="13:00:00">13:00</option>
              <option value="13:30:00">13:30</option>
                          <option value="14:00:00">14:00</option>
              <option value="14:30:00">14:30</option>
                          <option value="15:00:00">15:00</option>
              <option value="15:30:00">15:30</option>
                          <option value="16:00:00">16:00</option>
              <option value="16:30:00">16:30</option>
                          <option value="17:00:00">17:00</option>
              <option value="17:30:00">17:30</option>
                          <option value="18:00:00">18:00</option>
              <option value="18:30:00">18:30</option>
                          <option value="19:00:00">19:00</option>
              <option value="19:30:00">19:30</option>
                          <option value="20:00:00">20:00</option>
              <option value="20:30:00">20:30</option>
                          <option value="21:00:00">21:00</option>
              <option value="21:30:00">21:30</option>
                          <option value="22:00:00">22:00</option>
              <option value="22:30:00">22:30</option>
                          <option value="23:00:00">23:00</option>
              <option value="23:30:00">23:30</option>
                      </select>
        </span>
      </label>
    </div>
    <div class="form-p">
      <label class="form-label" for="pax">
        <span class="form-select form-select-pax">
          <select name="pax" id="pax">
            <option value="">Pers</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                      </select>
        </span>
      </label>
    </div>
  </div>
    <div class="form-submit searchBar-btn">
        <button type="submit" id="button_search" tabindex="5" class="btn btn-primary searchBarSubmit form-btn">
            <span class="searchBarSubmit-content">Zoek</span>
        </button>
    </div>

    </body>
    </html>
