<div class="footer-top">
   <div class="container">
      <div class="social-icons">
      <i class="icon fa fa-twitter"></i>
      <i class="icon fa fa-facebook"></i>
      <i class="icon fa fa-google-plus"></i>
      <i class="icon fa fa-instagram"></i>
      <i class="icon fa fa-pinterest"></i>
      <i class="icon fa fa-youtube-play"></i>
     </div>
   </div>
</div>

<footer>
  <div class="footer" id="footer">
          <div class="container">
             <div class="row">

              <div class="col-lg-3 col-xs-12">
                 <span class="logo">DoneDeal</span>
              </div>
              <div class="col-lg-3 col-xs-12">
                 <h3>Drinks</h3>
                  <ul>
                      <li><a href="#">Home</a></li>


                  </ul>
              </div>
      <div class="col-lg-3 col-xs-12">
                  <h3>Food</h3>
                  <ul>
                      <li><a href="#">Photo Gallery</a></li>
                      <li><a href="#">Video Gallery</a></li>

                  </ul>
              </div>
              <div class="col-lg-3 col-xs-12">
                  <h3>About</h3>
                  <ul>
                      <li> <a href="#">Address</a> </li>
                      <li> <a href="#">Phone</a> </li>
                      <!-- <li> <a href="#">Fax</a> </li>
                      <li> <a href="#">E-Mail</a> </li> -->
                  </ul>
              </div>
          <p>© BSSA 2018. All right reserved.</p>
           </div>
        </div>
      </div>

</footer>
