<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="stylesheet" href="css/try.css"> -->
      <!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" id="bootstrap-css">
<link rel="stylesheet" href="css/try.css">
<link rel="stylesheet" href="css/try.js">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<title>Done Deal</title>
  </head>
  <body>
<!--
  NAVBARRR!!! -->

  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>

  <nav class="navbar navbar-default navbar-inverse" style="background-color: #F8F8F8;"
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <body>

    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Login dropdown</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">Already have an account?</p></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
    			<ul id="login-dp" class="dropdown-menu">
    				<li>
    					 <div class="row">
    							<div class="col-md-12">
    								Login via
    								<div class="social-buttons">
    									<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
    									<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
    								</div>
                                    or
    								 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
    										<div class="form-group">
    											 <label class="sr-only" for="exampleInputEmail2">Email address</label>
    											 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
    										</div>
    										<div class="form-group">
    											 <label class="sr-only" for="exampleInputPassword2">Password</label>
    											 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                                 <div class="help-block text-right"><a href="">Forget the password ?</a></div>
    										</div>
    										<div class="form-group">
    											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    										</div>
    										<div class="checkbox">
    											 <label>
    											 <input type="checkbox"> keep me logged-in
    											 </label>
    										</div>
    								 </form>
    							</div>
    							<div class="bottom text-center">
    								New here ? <a href="#"><b>Join Us</b></a>
    							</div>
    					 </div>
    				</li>
    			</ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>We are Deal Done</h1>
            <h3>We save you money!</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
            <h1>Drinks!</h1>
            <h3>Get the drinks discounts here!</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
            <h1>Let's go out! </h1>
            <h3>Catch up with Friends!</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
  </div>
</div>



<div class="container">
    <h2></h2>
	<div class="row">
		<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="our-services-wrapper mb-60">
							<div class="services-inner">
								<div class="our-services-img">

								<img src="http://getdrawings.com/img/silhouette-beer-10.png" width="95px" alt="">
								</div>
								<div class="our-services-text">
									<h4>Drinking Deals</h4>
									<p><a class="nav-link" href="/drinks"></a>  Find out the best drinking deals in Amsterdam!</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="our-services-wrapper mb-60">
							<div class="services-inner">
								<div class="our-services-img">
								<img src="https://ubisafe.org/images/burger-transparent-silhouette-1.png" width="65px" alt="">
								</div>
								<div class="our-services-text">
									<h4>Food Deals</h4>
									<p>Here you find the best food deals around town!</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="our-services-wrapper mb-60">
							<div class="services-inner">
								<div class="our-services-img">
								<img src="https://png.pngtree.com/svg/20151105/about_us_icon_87514.png" width="68px" alt="">
								</div>
								<div class="our-services-text">
									<h4>About us</h4>
									<p>Let us introduce ourselves to you! We like to get in touch</p>
								</div>
							</div>
						</div>
					</div>
	</div>
</div>
<!--
NEWNEWNEWNEWNEW FOOTERRRRR -->





	<div class="footer-top">
	   <div class="container">
	      <div class="social-icons">
				<i class="icon fa fa-twitter"></i>
				<i class="icon fa fa-facebook"></i>
				<i class="icon fa fa-google-plus"></i>
				<i class="icon fa fa-instagram"></i>
				<i class="icon fa fa-pinterest"></i>
				<i class="icon fa fa-youtube-play"></i>
		   </div>
	   </div>
	</div>

	<footer>
		<div class="footer" id="footer">
            <div class="container">
               <div class="row">

                <div class="col-lg-3 col-xs-12">
                   <span class="logo">DoneDeal</span>
                </div>
                <div class="col-lg-3 col-xs-12">
                   <h3>Drinks</h3>
                    <ul>
                        <li><a href="#">Home</a></li>


                    </ul>
                </div>
				<div class="col-lg-3 col-xs-12">
                    <h3>Food</h3>
                    <ul>
                        <li><a href="#">Photo Gallery</a></li>
                        <li><a href="#">Video Gallery</a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12">
                    <h3>About</h3>
                    <ul>
                        <li> <a href="#">Address</a> </li>
                        <li> <a href="#">Phone</a> </li>
                        <!-- <li> <a href="#">Fax</a> </li>
                        <li> <a href="#">E-Mail</a> </li> -->
                    </ul>
                </div>

             </div>
          </div>
        </div>
	</footer>

	<div class="footer-bottom">
	    <p>Copyright © 2018. All right reserved.</p>
	</div>





<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
