<html>

<head>
  <%- include partials/head.ejs %>
</head><!-- /head -->

<body>

  <header>
    <% if (business !== undefined) { %>
      <%- include partials/profile-header.ejs %>
    <% } else { %>
      <%- include partials/header.ejs %>
    <% } %>
  </header>

  <div class="bgdrinks">

    <div class="texttitle"><strong>WOULD YOU LIKE TO PROMOTE YOUR BAR OR RESTAURANT<br> ON OUR APPLICATION?</strong></div>

      <div class="container">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><strong>FREE</strong></h1><br><br>
              <p class="card-text">SIGN UP TO OUR SERVICE COMPLETELY FREE OF CHARGE FOR ONE MONTH<br><br>
                <span class="bold orange">DONE DEAL</span> OFFERS A WAY FOR YOU TO ADVERTISE YOUR BEST OFFERS AND PROMOTIONS TO THOUSANDS OF POTENTIAL CUSTOMERS</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><strong>MONTHLY SUBSCRIPTION</strong></h1>
              <p class="card-text">
                €9.99 PER MONTH<br><br>
          ALREADY NOTICED AN INCREASE IN THE NUMBER OF CUSTOMERS VISITING YOUR ESTABLISHMENT?<br><br>
          THEN SIGN UP FOR A MODEST MONTHLY FEE TO CONTINUE OUT PROFITABLE PARTNERSHIP</p>
            </div>
            <div class="card-footer"> <a href="/signup"><button class="btn btn-hero btn-lg" role="button">Sign Up?</button></a>
              <small class="text-muted"></small>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><strong>YEARLY SUBSCRIPTION</strong></h1>
              <p class="card-text">€99.99 FOR 12 MONTHS<br><br>WE OFFER A LONG TERM SUBSCRIPTION PLAN FOR OUR SERVICE<br><br>
          WANT TO BUILD A LONG TERM BUSINESS PARTNERSHIP?<br><br>IT'S A <span class="bold orange">DONE DEAL</span></p>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <%- include partials/footer.ejs %>
    </footer>
</body>

</html>
