<html>

<head>
  <%- include partials/head.ejs %>
</head><!-- /head -->

<body>

  <header>
    <% if (business !== undefined) { %>
      <%- include partials/profile-header.ejs %>
    <% } else { %>
      <%- include partials/header.ejs %>
    <% } %>
  </header>

  <div class="bgdrinks">

    <div class="texttitle"><strong>FIND A BAR OR RESTAURANT<br>IN THREE EASY STEPS</strong></div>

    <div class="container">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><strong>1. WHAT DO YOU WANT TO DO?</strong></h1>
            <p class="card-text"> DO YOU WANT TO EAT?<br><br> OR DRINK?<br><br> OR BOTH?<br><br>HOW DO YOU FIND THE BEST OFFERS?<br><br>
              WITH <span class="bold orange">DONE DEAL</span></p>
          </div>
          <div class="card-footer">
            <small class="text-muted"></small>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><strong>2. WHAT TIME AND DAY?</strong></h1>
            <p class="card-text">
              SELECT A ONE HOUR BLOCK OF TIME (FOR EXAMPLE 19:00-20:00)<br><br>SELECT A DAY OF THE WEEK<br><br>
              SEE ALL THE SPECIAL OFFERS, COMBINATION DEALS AND HAPPY HOURS AT THIS TIME</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"></small>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><strong>3. MAKE YOUR DECISION</strong></h1>
            <p class="card-text">THAT'S IT!<br><br>ENJOY YOURSELF<br><br>*and enjoy alcohol responsibly</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"></small>
          </div>
        </div>
      </div>
    </div>
</div>

    <footer>
      <%- include partials/footer.ejs %>
    </footer>
    </body>

    </html>
