<html>

<head>
  <%- include partials/head.ejs %>
  <link rel="stylesheet" href="src/css/signin.css">
</head><!-- /head -->

<body>
  <header>
    <%- include partials/header.ejs %>
  </header><!-- /header -->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p class="form-title">
        Login to your account
      </p>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <form class="login" id="login" action="/login" method="POST">
            <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" />
            <input type="password" name="password" class="form-control" id="password" aria-describedby="passwordHelp" minlength="8" placeholder="Password" />
            <input type="submit" value="Login In" class="btn btn-success btn-sm" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
