<html>
<head>
  <%- include partials/head.ejs %>
  <link rel="stylesheet" href="src/css/signup.css">
</head><!-- /head -->

<body>

  <header>
    <%- include partials/header.ejs %>
  </header><!-- /header -->

  <div class="container pa-top">
    <div class="row">

      <div class="col-lg-4 col-lg-offset-4">
        <p class="form-title">
          Sign Up
        </p>
        <form class="login" id="signup" action="/signup" method="POST">
          <input type="text" type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Name" />
          <input type="text" name="address" class="form-control" id="address" aria-describedby="addressHelp"  placeholder="Address" />
          <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" />
          <input type="password" name="password" class="form-control" id="password" aria-describedby="passwordHelp" minlength="8" placeholder="Password (min 8 char.)" />
          <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" aria-describedby="confirmpasswordHelp" minlength="8" placeholder="Confirm Password" />
          <input type="submit" value="Sign Up" class="btn btn-success btn-sm" />
        </form>
      </div>
      
    </div>
  </div>

</body>
</html>
