h1 {
  text-align: center;
  color: white;
  font-family: Arial;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px
}

h3 {
  text-align: center;
  color: white;
  margin-top: 25px;
}

h4 {
  text-align: center;
  color: white;
  font-size: 48px;
}

h5 {
  font-size: 14px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #666;
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

a:hover {
  text-decoration:none;
}

a.list-group-item {
  height:auto;
  min-height:220px;
}

a.list-group-item.active small {
  color:#fff;
}

.bold { font-weight: bold; }
.orange { color: orange; }

/*=======FORM======*/

form-group {
  align-items: center;
}

form {
  color: orange;
  text-align: center;
  font-family: Arial;
  margin: 8px 0px;
}

div.mainform {
  width:100%;
  border:1px solid #000
}

.form-d, .form-h {
  flex-basis: 50%;
}

table table-hover {
  margin-left: 20px;
  margin-right: 20px;
}

/*=====BUTTONS=======*/

.btn {
  background-color: orange;
  color: white;
}

.button_search {
  color: orange;
}

/*===================*/

.bgdrinks {
  background-image: url("/src/img/Background_1.jpg");
  min-height: 100%;
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

/*=======PARALLAX=======*/

.parallax {
  /* The image used */
  background-image: url("../img/bottles.jpg");

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-deck {
  color: orange;
  width: 100%
  font-family: Arial;
}

.card-title {
  color: orange;
}

.card-text {
  color: orange;
}

.p2 {
  color: orange;
}

.containermatches {
  margin-left: 25px;
  margin-right: 25px;
  background-color:  rgba(0, 0, 0, 0.6);
  color: white;
}

.background {
  height: 100%;
  width: 100%;
}

.texttitle {
  text-align: center;
  color: white;
  background-color:  rgba(0, 0, 0, 0.6);
  font-family: Arial;
  font-size: 36px;
  width: 40%;
  margin-right: 30%;
  margin-left: 30%;
}

.column_1 {
  width: 200px;
  margin-bottom: 10px;
  padding: 8px;
}

.column_2 {
  width: 400px;
  margin-bottom: 10px;
  padding: 8px;
}

.column_3 {
  width: 200px;
  margin-bottom: 10px;
  padding: 4px;
}

.column_4 {
  width: 400px;
  margin-bottom: 10px;
  padding: 4px;
}

.mb-60 {
  margin-bottom: 60px;
}

.services-inner {
  border: 2px solid #48c7ec;
  margin-left: 35px;
  transition: .3s;
}

.stars {
  margin:20px auto 1px;
}

.logo{
  color:orange;
  font-size:30px;
  font-weight:600;
}

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}

#login-dp .help-block {
  font-size:12px
}

#login-dp .bottom {
  background-color:rgba(255,255,255,.8);
  border-top:0px solid #ddd;
  clear:both;
  padding:14px;
}

#login-dp .social-buttons { 
  margin:12px;
}

#login-dp .social-buttons a {
  width: 49%;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-fb {
  color: #dfe3ee;
  background-color:#3b5998;
}

.btn-fb:hover {
  color: #fff;
  background-color:#496ebc
}

.btn-tw {
  color: #fff;
  background-color:#55acee;
}

.btn-tw:hover {
  color: #fff;
  background-color:#59b5fa;
}

.navbar {
  margin-bottom: -3px; 
  color: #e8e9ea;
  border: 15px solid black;
  box-shadow: 3px -63px 55px 37px;
}

/* --! new stuf */

/*
Fade content bs-carousel with hero headers
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/*===========VIDEO=========*/
#video {
  width: 100%;
}

.video-title {
  top: 100%;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  text-align: center;
    vertical-align: bottom;
    color: #f5f5f5;
    background-color: orange;
    border-color: black;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-);
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://images.unsplash.com/photo-1438557068880-c5f474830377?ixlib=rb-);
}

/********************************/
/*          Media Queries       */
/********************************/
@media(max-width:768px) {
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:0 none;
  }
}

@media screen and (min-width: 980px) {
  .hero { width: 980px; }
}

@media screen and (max-width: 640px) {
  .hero h1 { font-size: 4em; }
}

.how-section1 {
  margin-top:-15%;
  padding: 10%;
}

.how-section1 h4 {
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
}

.how-section1 .subheading {
  color: #3931af;
  font-size: 20px;
}

.how-section1 .row {
  margin-top: 10%;
}

.how-img {
  text-align: center;
}

.how-img img {
  width: 40%;
}

.mb-60 {
  margin-bottom: 60px;
}

.services-inner {
  border: 2px solid #000000;
  margin-left: 35px;
  background-color: white;
  transition: .3s;
}

.our-services-img {
  text-align: center;
}

.our-services-text {
  text-align: center;
  padding-right: 10px;
}

.our-services-text {
  text-family: Helvetica;
  text-align: center;
  padding: 28px 0 28px;
}

.our-services-text h4 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 16px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}

.our-services-text h4::before {
  background: #ec6d48 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  width: 35px;
}

.our-services-wrapper:hover .services-inner {
  background: #fff none repeat scroll 0 0;
  border: 2px solid transparent;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.our-services-text p {
  margin-bottom: 0;
}

/* footer!!!!!!!! */
/* Footer */

.footer {
  padding:15px 0px;
  color: #ccc;
  background-color: #222;
}

.footer h4 {
  color: #FFF;
  font-size:1px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom:20px;
}

.footer ul {
  font-size: 5px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}

.footer ul li a {
  padding: 5px 0px;
  display: block;
  color: #ccc;
  font-weight: 600;
  font-size: 13px;
}

.footer ul li a:hover {
  color:#1e76a8;
}

.footer-bottom {
  background-color: #111;
  color: #282c2d;
  font-size: 12px;
  text-align: center;
  height: 30px;
  line-height: 50px;
}

.footer-bottom p {
  font-size:15px;
  color: #FFF;
}
