<html>

<head>

  <title>Drinks Page</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="src/css/style.css">

</head>

<body>

    <%- include partials/navbar.ejs %>

      <h2>About Us</h2>

      <h1>What is Done Deal?</h1>

          <div class="container">
              <h2></h2>
          	<div class="row">
          		<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          						<div class="our-services-wrapper mb-60">
          							<div class="services-inner">
          								<div class="our-services-img">

          								<img src="https://static.webshopapp.com/shops/021813/files/026004721/800x700x2/securit-chalkboard-table-aluminium-silhouette-beer.jpg" width="95px" alt="">
          								</div>
          								<div class="our-services-text">
          									<h4>Are you a customer?</h4>
          									<p><a class="nav-link" href="/drinks"> Click here to find the best drinking deals in Amsterdam!</a></p>

                        <p>Are you a customer in Amsterdam?</p>

                        <p>Are you a bar or restaurant in Amsterdam?</p>

                        <p>Do you want a new way to advertise all your offers.

                          With our platform you can

                          Done Deal will connect you with customers</p>

                      <p>There are 1150 Restaurants and 1515 Bars and cafes in Amsterdam</p><br>
                      <p>This can make reaching a decision almost impossible</p><br>
                      <p>So how do you decide? With Done Deal ©</p>

                      <p>Imagine you want to go out with your friends, but cannot decide where you want to go?
                        Done Deal is here to help</p>

                        <p>Want to have a good time but you don't want to spend a lot of money</p>
                      <p>Too much choice?</p>
                      <p>

          								</div>
          							</div>
          						</div>
          					</div>
          					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          						<div class="our-services-wrapper mb-60">
          							<div class="services-inner">
          								<div class="our-services-img">
          								<img src="https://ubisafe.org/images/burger-transparent-silhouette-1.png" width="65px" alt="">
          								</div>
          								<div class="our-services-text">
          									<h4>Are you a business?</h4>
                            <p><a class="nav-link" href="/contact"> Click here to advertise your offers!</a></p>
          									<p></p>
          								</div>
          							</div>
          						</div>
          					</div>
          	</div>
          </div>




</body>

</html>
