<html>

<head>
  <%- include partials/head.ejs %>
</head><!-- /head -->

<body>

  <header>
    <%- include partials/header.ejs %>
  </header><!-- /header -->

      <h1>What is DONE DEAL?</h1>

          <div class="container">
              <h2></h2>
          	<div class="row">
          		<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          						<div class="our-services-wrapper mb-60">
          							<div class="services-inner">
          								<div class="our-services-img">

          								</div>
          								<div class="our-services-text">
          									<h4>Are you a customer?</h4>
                            <p>Imagine you want to go out with your friends, but cannot decide where you want to go?</p><br>
                            <p>There are 1150 Restaurants and 1515 Bars and cafes in Amsterdam<p><br>
                            <p>This can make reaching a decision almost impossible</p><br>
                            <p>Want to have a good time but you don't want to spend a lot of money</p><br>
                            <p>So how do you decide? With DONE DEAL</p><br>
          									<p><a class="nav-link" href="/drinks"> Click here to find the best drinking deals in Amsterdam!</a></p>

          								</div>
          							</div>
          						</div>
          					</div>

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                      <div class="our-services-wrapper mb-60">
                        <div class="services-inner">
                          <div class="our-services-img">

                          </div>
                          <div class="our-services-text">
                            <h4>Who are we?</h4><br>
                            <p>We are DONE DEAL</p><br>
                            <p></p><br>
                            <p></p><br>

                            <p><a class="nav-link" href="/contact"> Click here to contact us!</a></p>
                            <p></p>
                          </div>
                        </div>
                      </div>
                    </div>

          					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          						<div class="our-services-wrapper mb-60">
          							<div class="services-inner">
          								<div class="our-services-img">

          								</div>
          								<div class="our-services-text">
          									<h4>Are you a business?</h4><br>
                            <p>Do you want to make your business and your offers more visible?</p><br>
                            <p>Do you have special deals and savings and would like to adverise them</p><br>
                            <p>Do you want a new way to connect with people in Amsterdam?</p><br>
                            <p>DONE DEAL can help you bring in more customers</p>
                            <p><a class="nav-link" href="/signup"> Click here to sign up</a></p>
          									<p></p>
          								</div>
          							</div>
          						</div>
          					</div>
          	</div>
          </div>

          <footer>
            <%- include partials/footer.ejs %>
          </footer>
          </body>

          </html>
