<html>

<head>
  <%- include partials/head.ejs %>
</head><!-- /head -->

<body>

  <header>
    <%- include partials/header.ejs %>
  </header><!-- /header -->

      <h1>Would you like to promote your bar or restaurant on our site?</h1>

  <div class="bgdrinks"></div>

          <div class="container">
              <h2></h2>
          	<div class="row">
          		<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          						<div class="our-services-wrapper mb-60">
          							<div class="services-inner">
          								<div class="our-services-img">

          								</div>
          								<div class="our-services-text">
          									<h4>Free</h4>
                            <p>Sign up to our service completely free of charge for one month</p><br>
                            <p>DONE DEAL offers a way for you to advertise your best offers and promotions to thousand of potential customers<p><br>

          								</div>
          							</div>
          						</div>
          					</div>

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                      <div class="our-services-wrapper mb-60">
                        <div class="services-inner">
                          <div class="our-services-img">

                          </div>
                          <div class="our-services-text">
                            <h4>Monthly Subscription</h4>
                            <p>€9.99 per month</p><br>
                            <p>Already noticed an increase in the number of customers visiting your establishment?</p><br>
                            <p>Then sign up for a modest fee of €9.99 per month to continue our profitable partnership.</p>

                          </div>
                        </div>
                      </div>
                    </div>

          					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          						<div class="our-services-wrapper mb-60">
          							<div class="services-inner">
          								<div class="our-services-img">

          								</div>
          								<div class="our-services-text">
          									<h4>Yearly Subscription?</h4>
                            <p>€99.99 for 12 months</p><br>
                            <p>We offer a long term-subscription plan for our service</p><br>
                            <p>Want to build a long term business partnership?</p><br>
                            <p>It's a DONE DEAL</p>
          								</div>
          							</div>
          						</div>
          					</div>
          	</div>
                     <a href="/signup" class="btn btn-default btn-lg btn-block" role="button">Want to sign up?</a>
          </div>

          <footer>
            <%- include partials/footer.ejs %>
          </footer>
          </body>

          </html>
