<html>

<head>

  <title>Business Model</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" id="bootstrap-css">
  <link rel="stylesheet" href="/src/css/style.css">
  <link rel="stylesheet" href="/src/css/style2.css">
  <link rel="stylesheet" href="css/try.js">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>

    <%- include partials/navbar.ejs %>

      <h1>Would you like to promote your bar or restaurant on our site?</h1>

  <div class="bgdrinks"></div>

          <div class="container">
              <h2></h2>
          	<div class="row">
          		<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          						<div class="our-services-wrapper mb-60">
          							<div class="services-inner">
          								<div class="our-services-img">

          								</div>
          								<div class="our-services-text">
          									<h4>Free</h4>
                            <p>Imagine you want to go out with your friends, but cannot decide where you want to go?</p><br>
                            <p>There are 1150 Restaurants and 1515 Bars and cafes in Amsterdam<p><br>
                            <p>This can make reaching a decision almost impossible</p><br>
                            <p>Want to have a good time but you don't want to spend a lot of money</p><br>
                            <p>So how do you decide? With Done Deal ©</p><br>

          									<p><a class="button" href="/drinks"> Click here to find the best drinking deals in Amsterdam!</a></p>
                            <button type="button" class="btn btn-default btn-lg btn-block" href="/drinks"> More information </button>

          								</div>
          							</div>
          						</div>
          					</div>

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                      <div class="our-services-wrapper mb-60">
                        <div class="services-inner">
                          <div class="our-services-img">

                          </div>
                          <div class="our-services-text">
                            <h4>Monthly Subscription</h4><br>
                            <p>Do you want to make your business and your offers more visible?</p><br>
                            <p>Do you have special deals and savings and would like to adverise them</p><br>
                            <p>Do you want a new way to connect with people in Amsterdam?</p><br>
                            <p>Done Deal can help you bring in more customers</p>
                            <p><a class="nav-link" href="/contact"> Click here to advertise your offers!</a></p>
                            <p></p>
                          </div>
                        </div>
                      </div>
                    </div>

          					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          						<div class="our-services-wrapper mb-60">
          							<div class="services-inner">
          								<div class="our-services-img">

          								</div>
          								<div class="our-services-text">
          									<h4>Yearly Subscription?</h4><br>
                            <p>Do you want to make your business and your offers more visible?</p><br>
                            <p>Do you have special deals and savings and would like to adverise them</p><br>
                            <p>Do you want a new way to connect with people in Amsterdam?</p><br>
                            <p>Done Deal can help you bring in more customers</p>
                            <p><a class="nav-link" href="/contact"> Click here to advertise your offers!</a></p>
          									<p></p>
          								</div>
          							</div>
          						</div>
          					</div>
          	</div>
          </div>

  <%- include partials/footer.ejs %>


</body>

</html>
