<html>

<head>

  <title>Drinks Page</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" id="bootstrap-css">
  <link rel="stylesheet" href="/src/css/style.css">
  <link rel="stylesheet" href="/src/css/style2.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%- include partials/navbar.ejs %>

  <h1>How it works in three easy steps</h1>

  <div class="container">
    <h2></h2>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="our-services-wrapper mb-60">
          <div class="services-inner">
            <div class="our-services-img">

            </div>
            <div class="our-services-text">
              <h4>Select what you want to do</h4>
              <p>Do you want to eat? Or drink?</p><br>
              <p>Or both?</p><br>
              <p>How do you find the best offers?</p><br>
              <p>With Done Deal ©</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="our-services-wrapper mb-60">
          <div class="services-inner">
            <div class="our-services-img">

            </div>
            <div class="our-services-text">
              <h4>What day and time?</h4><br>
              <p>Select a block of time (for example 19:00 - 20:00)</p><br>
              <p>See all the special offers, combination deals and happy hours at this time</p><br>
                  </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="our-services-wrapper mb-60">
            <div class="services-inner">
              <div class="our-services-img">

              </div>
              <div class="our-services-text">
                <h4>Make your decision!</h4><br>
                <p>That's it!</p><br>
                <p>Enjoy yourself!</p><br>
                <p>(Enjoy alcohol responsibly)</p><br>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2>When would you like to go out?</h2>

    <div class="bgdrinks">

      <div class="form-group" style="opacity:1;">
        <select>
      <option value="Select a time">Select a time</option>
      <option value="18:00 - 19:00">18:00 - 19:00 Monday</option>
      <option value="19:00 - 20:00">19:00 - 20:00 Monday</option>
      <option value="20:00 - 21:00">20:00 - 21:00 Monday</option>
      <option value="21:00 - 22:00">21:00 - 22:00 Monday</option>
      <option value="18:00 - 19:00">18:00 - 19:00 Tuesday</option>
      <option value="19:00 - 20:00">19:00 - 20:00 Tuesday</option>
      <option value="20:00 - 21:00">20:00 - 21:00 Tuesday</option>
      <option value="21:00 - 22:00">21:00 - 22:00 Tuesday</option>
    </select>
        <div class="form-group">
          <input type="submit" value="Submit" style="opacity:1">
    </div>
        </div>

      </div>

    </div>

    <%- include partials/footer.ejs %>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    </body>

</html>
