<html>

<head>

  <title>Food Page</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" id="bootstrap-css">
  <link rel="stylesheet" href="/src/css/style.css">
  <link rel="stylesheet" href="/src/css/style2.css">
  <link rel="stylesheet" href="css/try.js">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%- include partials/navbar.ejs %>

  <div class="bgdrinks"></div>

  <h1>All possible places to eat</h1>

  <div class="container">
    <div class="row">
      <div class="well">
        <h1 class="text-center"></h1>
        <div class="list-group">
          <a href="#" class="list-group-item active">
                  <div class="media col-md-3">
                      <figure class="pull-left">
                          <img class="media-object img-rounded img-responsive"  src="src/img/Beer_1.jpg" alt="placehold.it/350x250" >
                      </figure>
                  </div>
                  <div class="col-md-6">
                      <h4 class="list-group-item-heading">Name of the bar</h4>
                      <p class="list-group-item-text">Address of the bar</p><br>
                      <p class="list-group-item-text">Drink offer</p>
                  </div>

            </a>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
  <table class="show_all_posts">

    <thead scope="row">
      <tr>
        <td class="column_1">Name</td>
        <td class="column_1">Address:</td>
        <td class="column_2">Offer:</td>
      </tr>
    </thead>

    <tbody>
      <tr>

        <td class="column_3">
        <p>Old Sailor</p>
        </td>
        <td class="column_3">
            <p>Oudezijds Achterburgwal 39-A</p<
        </td>
        <td class="column_4">
            <p>Buy 1 Get 1 Free Heineken</p>
        </td>

      </tr>
    </tbody>
  </table>
    </div>

    <table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Tables</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Michael</td>
      <td>This one is bordered and condensed</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Lucille</td>
      <td>Do you still like it?</td>
    </tr>
  </tbody>
</table>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>

  <%- include partials/footer.ejs %>

</html>
