<html>

<head>
  <%- include partials/head.ejs %>
</head><!-- /head -->

<body>

  <header>
    <%- include partials/header.ejs %>
  </header><!-- /header -->

  <div class="bgdrinks">

    <div class="texttitle"><strong>FIND A RESTAURANT <br>IN THREE EASY STEPS</strong></div>

    <div class="container">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><strong>1. WHAT DO YOU WANT TO DO?</strong></h1>
            <p class="card-text"> DO YOU WANT TO EAT?<br><br> OR DRINK?<br><br> OR BOTH?<br><br>HOW DO YOU FIND THE BEST OFFERS?<br><br>
              WITH <span class="bold orange">DONE DEAL</span></p>
          </div>
          <div class="card-footer">
            <small class="text-muted"></small>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><strong>2. WHAT TIME AND DAY?</strong></h1>
            <p class="card-text">
              SELECT A ONE HOUR BLOCK OF TIME (FOR EXAMPLE 19:00-20:00)<br><br>SELECT A DAY OF THE WEEK<br><br>
              SEE ALL THE SPECIAL OFFERS, COMBINATION DEALS AND HAPPY HOURS AT THIS TIME</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"></small>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><strong>3. MAKE YOUR DECISION</strong></h1>
            <p class="card-text">THAT'S IT!<br><br>ENJOY YOURSELF<br><br>*and enjoy alcohol responsibly</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"></small>
          </div>
        </div>
      </div>
    </div>

      <form>
        <h2>WHEN WOULD YOU LIKE TO GO OUT?</h2>

        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <!-- <div class="form-d"> -->
            <label class="form-label" for="date">
            <span class="form-select">
              <select name="date" id="date">
                <option value="noDate">Day</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
              </select>
            </span>
          </label>
            <!-- </div> -->

            <!-- <div class="form-h"> -->
            <label class="form-label" for="hour">
            <span class="form-select">
              <select name="time" id="hour">
                <option value="">Time</option>
                  <option value="00:00-01:00">00:00-01:00</option>
                  <option value="01:00-02:00">01:00-02:00</option>
                  <option value="02:00-03:00">02:00-03:00</option>
                  <option value="03:00-04:00">03:00-04:00</option>
                  <option value="04:00-05:00">04:00-05:00</option>
                  <option value="05:00-06:00">05:00-06:00</option>
                  <option value="06:00-07:00">06:00-07:00</option>
                  <option value="07:00-08:00">07:00-08:00</option>
                  <option value="08:00-09:00">08:00-09:00</option>
                  <option value="09:00-10:00">09:00-10:00</option>
                  <option value="10:00-11:00">10:00-11:00</option>
                  <option value="11:00-12:00">11:00-12:00</option>
                  <option value="12:00-13:00">12:00-13:00</option>
                  <option value="13:00-14:00">13:00-14:00</option>
                  <option value="14:00-15:00">14:00-15:00</option>
                  <option value="15:00-16:00">15:00-16:00</option>
                  <option value="16:00-17:00">16:00-17:00</option>
                  <option value="17:00-18:00">17:00-18:00</option>
                  <option value="18:00-19:00">18:00-19:00</option>
                  <option value="19:00-20:00">19:00-20:00</option>
                  <option value="20:00-21:00">20:00-21:00</option>
                  <option value="21:00-22:00">21:00-22:00</option>
                  <option value="22:00-23:00">22:00-23:00</option>
                  <option value="23:00-00:00">23:00-00:00</option>
              </select>
            </span>
          </label>
            <!-- </div> -->

          </div>
        </div class="btn-group btn-group-justified">

        <p><a href="/drinkmatch"><button class="btn btn-hero btn-lg" role="button">Submit</button></a><p>

    </form>
  </div>

  <div class="containermatches">
    <table class="table table-hover">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Business Name</th>
            <th>Offer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>(ejs tag) business.name</td>
            <td>(ejs tag) business.offer</td>
          </tr>
          <tr>
            <td>2</td>
            <td>(ejs tag) business.name</td>
            <td>(ejs tag) business.offer</td>
          </tr>
        </tbody>
      </table>
    </table>
    </table>

    <br>
    <br>

</div>

<footer>
  <%- include partials/footer.ejs %>
</footer>
</body>

</html>
