<html>

<head>
	<%- include partials/head.ejs %>
</head><!-- /head -->

<body>

	<header>
		<%- include partials/header.ejs %>
	</header><!-- /header -->


	<div class="bgdrinks">

    <div class="texttitle"><strong>Welcome back to your profile (ejs tag) business.username (ejs tag)</strong></div>

	<h6><a href="/allmyoffers" target="_blank">Show All My Offers</a></h6>
	<h6><a href="/createoffers" target="_blank">Create Offers</a></h6>
	<h6><a href="/logout" target="_blank">Logout</a></h6>

</div>
	<footer>
		<%- include partials/footer.ejs %>
	</footer>

</body>

</html>
