<html>

<head>
	<%- include partials/head.ejs %>
</head><!-- /head -->

<body>

	<header>
		<%- include partials/header.ejs %>
	</header><!-- /header -->


	<div class="bgdrinks">

    <div class="texttitle">
			<strong>Welcome <%= business.name %> </strong>
    </div>

    <div class="container">
      <div class="card-deck">
        <div class="card">
          <div class="card-footer">
																		<a href="/offers"><button class="btn btn-hero btn-lg" role="button">All My Offers</button></a>
            <small class="text-muted"></small>
          </div>
        </div>
        <div class="card">
          <div class="card-footer">
																	<a href="/createoffer"><button class="btn btn-hero btn-lg" role="button">Create Offer</button></a>
            <small class="text-muted"></small>
          </div>
        </div>
        <div class="card">
          <div class="card-footer">
																	<a href="/logout"><button class="btn btn-hero btn-lg" role="button">Logout</button></a>
            <small class="text-muted"></small>
          </div>
        </div>
      </div>
    </div>
</div>


	<h4><a href="/offers" target="_blank">Show All My Offers</a></h4>
	<h4><a href="/createoffer" target="_blank">Create Offers</a></h4>
	<h4><a href="/logout" target="_blank">Logout</a></h4>

</div>
	<footer>
		<%- include partials/footer.ejs %>
	</footer>

</body>

</html>
