<html>

<head>
	<%- include partials/head.ejs %>
</head><!-- /head -->

<body>

	<header>
		<%- include partials/header.ejs %>
	</header><!-- /header -->


	<div class="bgdrinks">

    <div class="texttitle"><strong>Welcome back to your profile <%= business.name %></strong></div>

	<h4><a href="/offers" target="_blank">Show All My Offers</a></h4>
	<h4><a href="/createoffer" target="_blank">Create Offers</a></h4>
	<h4><a href="/logout" target="_blank">Logout</a></h4>

</div>
	<footer>
		<%- include partials/footer.ejs %>
	</footer>

</body>

</html>
