<div class="footer-bottom-area bg-dark-light section-padding-sm">
  <div class="container">
      <div class="row widgets footer-widgets">
          <div class="col-lg-3 col-md-6 col-12">
              <div class="single-widget widget-about">
                  <h5 class="widget-title">About Us</h5>
                  <p>We are a team of young enthusiastic developers who wanted a service that does not exist yet, so we decided to make it ourselves</p>
                  <br>
                  <br>
                  <div class="col-lg-3 col-xs-12">
                  <span class="logo">DoneDeal</span>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
              <div class="single-widget widget-quick-links">
                  <h5 class="widget-title">My Account</h5>
                  <ul>
                      <li>Sitemap</li>
                      <li>Privacy Policy</li>
                      <li>Your Account</li>
                      <li>Advanced Search</li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
              <div class="single-widget widget-quick-links">
                  <h5 class="widget-title">Customer Service</h5>
                  <ul>
                      <li>Frequently Asked Questions</li>
                      <li>Compensation First</li>
                      <li>My Account</li>
                      <li>Deals Policy</li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
              <div class="single-widget widget-contact">
                  <h5 class="widget-title">Contact Us</h5>
                  <ul>
                      <li class="address">
                          <img src="src/img/map2.jpg" alt="map icon">
                          <p>Johan Huizingalaan 763a</p>
                      </li>
                      <li class="phone">
                          <img src="src/img/phone2.jpg" alt="phone icon">
                          <p>035-6785662</p>
                      </li>
                      <li class="email">
                          <img src="src/img/mail2.jpg" alt="mail icon">
                          <p>info@donedeal.com</p>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

